/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #services-218 {
        padding: var(--sectionPadding);
    }
    #services-218 .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #services-218 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 32.625rem;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #services-218 .cs-text {
        margin-bottom: 1rem;
    }
    #services-218 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #services-218 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #services-218 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #services-218 .cs-button-solid:hover:before {
        width: 100%;
    }
    #services-218 .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
    #services-218 .cs-item {
        list-style: none;
        width: 100%;
        margin-right: 0.625rem;
        /* padding left and right changes on tablet */
        padding: 2.75rem 2rem;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        background-color: #fafbfc;
        border: 1px solid #dad9e3;
        border-radius: 0.3125rem;
        position: relative;
    }
    #services-218 .cs-item:before {
        /* top right box */
        content: "";
        width: 45%;
        max-width: 11.25rem;
        height: 50%;
        max-height: 9rem;
        background: var(--primary);
        border-radius: 1rem;
        position: absolute;
        display: block;
        top: -0.625rem;
        right: -0.625rem;
        z-index: -1;
    }
    #services-218 .cs-icon {
        /* 60px - 77px */
        width: clamp(3.75rem, 7.6vw, 4.8125rem);
        height: auto;
        margin-bottom: 2.5rem;
        display: block;
    }
    #services-218 .cs-h3 {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 1.5vw, 1.5625rem);
        line-height: 1.2em;
        margin: 0;
        margin-bottom: 1rem;
        color: var(--headerColor);
        font-weight: bold;
    }
    #services-218 .cs-item-text {
        font-size: 1rem;
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColor);
    }
    #services-218 .cs-watermark {
        display: none;
    }
}
/* Tablet */
@media only screen and (min-width: 48rem) {
    #services-218 .cs-container {
        max-width: 80rem;
        position: relative;
    }
    #services-218 .cs-content {
        width: 50%;
    }
    #services-218 .cs-card-group {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    #services-218 .cs-item {
        grid-column: span 4;
        grid-row: span 1;
        margin: 0;
        /* makes each card the same height if you add or remove lines of text */
        align-self: stretch;
    }
    #services-218 .cs-watermark {
        width: 30%;
        max-width: 14rem;
        height: auto;
        position: absolute;
        top: 0;
        right: 0;
        display: block;
    }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode #services-218 .cs-title,
    body.dark-mode #services-218 .cs-text,
    body.dark-mode #services-218 .cs-h3,
    body.dark-mode #services-218 .cs-item-text {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #services-218 .cs-item {
        background-color: var(--medium);
        border: none;
    }
    body.dark-mode #services-218 .cs-item:before {
        background: var(--accent);
    }
    body.dark-mode #services-218 .cs-icon {
        /* makes so bright it turns white */
        filter: brightness(3000%);
    }
}
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1059 {
        /* Centers button */
        text-align: left;
        /* 200px - 300px - leaving extra space for the navigation */
        padding: clamp(12.5rem, 31.95vw, 18.75rem) 1rem 0;
        /* 130px - 200px */
        padding-bottom: clamp(8.125rem, 16.5vw, 12.5rem);
        position: relative;
        z-index: 1;
    }
    #hero-1059 .cs-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
    }
    #hero-1059 .cs-background:before {
        /* Overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: #1a1a1a;
        opacity: 0.84;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 1;
        /* prevents the cursor from interacting with it */
        pointer-events: none;
    }
    #hero-1059 .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        /* makes the top of the image start at the top of the parent */
        object-position: top;
    }
    #hero-1059 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
    }
    #hero-1059 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        max-width: 39.375rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }
    #hero-1059 .cs-title {
        /* 39px - 61px */
        font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
        font-weight: 700;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 51.8125rem;
        margin: 0 auto 1rem 0;
        color: #fff;
        position: relative;
    }
    #hero-1059 .cs-text {
        /* 16px - 20px */
        font-size: clamp(1rem, 1.95vw, 1.25rem);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        /* 464px - 622px */
        max-width: clamp(29rem, 60vw, 38.785rem);
        margin: 0 0 2.5rem 0;
        color: #fff;
    }
    #hero-1059 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        margin: 0;
        color: #fff;
        padding: 0 1.5rem;
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
    }
    #hero-1059 .cs-button-solid:before {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    #hero-1059 .cs-button-solid:hover:before {
        width: 100%;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-1059 .cs-content {
        text-align: left;
        align-items: flex-start;
    }
    #hero-1059 .cs-background:before {
        background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.94) 0%,
            rgba(0, 0, 0, 0.94) 2%,
            rgba(0, 0, 0, 0) 100%
        );
        opacity: 1;
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-1100 {
        padding: var(--sectionPadding);
    }
    #sbsr-1100 .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #sbsr-1100 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 32.625rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #sbsr-1100 .cs-text {
        margin-bottom: 1rem;
    }
    #sbsr-1100 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #sbsr-1100 .cs-ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
    }
    #sbsr-1100 .cs-li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    #sbsr-1100 .cs-h3 {
        /* 20px - 25px */
        font-size: 1.25rem, 3vw, 1.5625rem;
        line-height: 1.2em;
        font-weight: 700;
        margin: 0 0 0.75rem;
    }
    #sbsr-1100 .cs-li-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: 39.375rem;
        margin: 0;
        color: var(--bodyTextColor);
    }
    #sbsr-1100 .cs-image-group {
        /* scales the whole group based on the view width size and stop when that vales equals .8em, resets at desktop */
        font-size: min(2.235vw, 0.8em);
        width: 40.5em;
        height: 37.125em;
        display: block;
        position: relative;
        z-index: 1;
    }
    #sbsr-1100 .cs-picture {
        position: absolute;
    }
    #sbsr-1100 .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    #sbsr-1100 .cs-picture1 {
        width: 20.1875em;
        height: 27.9375em;
        top: 0;
        right: 0;
        z-index: 10;
    }
    #sbsr-1100 .cs-picture2 {
        width: 19.0625em;
        height: 27.5625em;
        bottom: 0;
        left: 0;
    }
    #sbsr-1100 .cs-stripes {
        width: 34.25em;
        height: auto;
        display: block;
        position: absolute;
        top: 5em;
        left: 2.5em;
        z-index: -1;
    }
    #sbsr-1100 .cs-graphic {
        width: 11.5em;
        height: auto;
        position: absolute;
        bottom: 5em;
        left: 13.875em;
        z-index: 10;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-1100 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #sbsr-1100 .cs-image-group {
        font-size: min(1.2vw, 1em);
        flex: none;
        /* sends it to the right in the 2nd position */
        order: 2;
    }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode #sbsr-1100 .cs-title,
    body.dark-mode #sbsr-1100 .cs-text,
    body.dark-mode #sbsr-1100 .cs-h3,
    body.dark-mode #sbsr-1100 .cs-li-text {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #sbsr-1100 .cs-text,
    body.dark-mode #sbsr-1100 .cs-li-text {
        opacity: 0.8;
    }
    body.dark-mode #sbsr-1100 .cs-stripes {
        opacity: 0.2;
    }
}

/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-1333 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
    }
    #contact-1333 .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 36.5rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        /* 48px - 80px */
        gap: clamp(3rem, 6vw, 5rem);
        position: relative;
    }
    #contact-1333 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #contact-1333 .cs-title {
        max-width: 23ch;
        margin: 0 0 1.75rem 0;
    }
    #contact-1333 .cs-form {
        width: 100%;
        max-width: 40.625rem;
        /* 32px - 48px top and bottom */
        /* 16px - 60px left and right */
        padding: clamp(2rem, 5.18vw, 3rem) clamp(1rem, 5vw, 3.75rem);
        /* prevents flexbox from affecting height and width */
        box-sizing: border-box;
        background-color: #f7f7f7;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        /* prevents flexbox from squishing it */
        flex: none;
        gap: 0.75rem;
    }
    #contact-1333 .cs-form .cs-title {
        /* 16px - 28px */
        margin: 0 0 clamp(1rem, 3vw, 1.75rem) 0;
    }
    #contact-1333 .cs-label {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        width: 100%;
        color: var(--headerColor);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.25rem;
    }
    #contact-1333 .cs-input {
        font-size: 1rem;
        width: 100%;
        height: 3.5rem;
        padding: 0;
        padding-left: 1.5rem;
        color: var(--headerColor);
        background-color: #fff;
        border: none;
        /* prevents padding from adding to height and width */
        box-sizing: border-box;
    }
    #contact-1333 .cs-input::placeholder {
        color: #767676;
        opacity: 0.6;
    }
    #contact-1333 .cs-textarea {
        min-height: 7.5rem;
        padding-top: 1.5rem;
        /* 16px - 28px */
        margin: 0 0 clamp(1rem, 3vw, 1.75rem) 0;
        font-family: inherit;
    }
    #contact-1333 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #1a1a1a;
        border: none;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        overflow: hidden;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        transition: color 0.3s;
    }
    #contact-1333 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    #contact-1333 .cs-button-solid:hover {
        color: #fff;
    }
    #contact-1333 .cs-button-solid:hover:before {
        width: 100%;
    }
    #contact-1333 .cs-submit {
        width: 100%;
        min-width: 17.6875rem;
    }
    #contact-1333 .cs-submit:hover {
        cursor: pointer;
    }
    #contact-1333 .cs-faq-group {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #contact-1333 .cs-faq-item {
        list-style: none;
        width: 100%;
        border-bottom: 1px solid #e8e8e8;
        transition: border-bottom 0.3s;
    }
    #contact-1333 .cs-faq-item.active {
        border-color: var(--primary);
    }
    #contact-1333 .cs-faq-item.active .cs-button {
        color: var(--primary);
    }
    #contact-1333 .cs-faq-item.active .cs-button:before {
        background-color: var(--primary);
        transform: rotate(315deg);
    }
    #contact-1333 .cs-faq-item.active .cs-button:after {
        background-color: var(--primary);
        transform: rotate(-315deg);
    }
    #contact-1333 .cs-faq-item.active .cs-item-p {
        height: auto;
        /* 20px - 24px bottom */
        /* 16px - 24px left & right */
        padding: 0 clamp(1rem, 2vw, 1.5rem) clamp(1.25rem, 2vw, 1.5rem) 0;
        opacity: 1;
    }
    #contact-1333 .cs-button {
        font-size: 1rem;
        line-height: 1.2em;
        text-align: left;
        font-weight: bold;
        /* 16px - 24px */
        padding: clamp(1rem, 2vw, 1.5rem);
        padding-left: 0;
        border: none;
        background: transparent;
        color: var(--headerColor);
        display: block;
        width: 100%;
        position: relative;
        transition:
            background-color 0.3s,
            color 0.3s;
    }
    #contact-1333 .cs-button:hover {
        cursor: pointer;
    }
    #contact-1333 .cs-button:before {
        /* left line */
        content: "";
        width: 0.5rem;
        height: 0.125rem;
        background-color: var(--headerColor);
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 45%;
        right: 1.5rem;
        transform: rotate(45deg);
        /* animate the transform from the left side of the x axis, and the center of the y */
        transform-origin: left center;
        transition: transform 0.5s;
    }
    #contact-1333 .cs-button:after {
        /* right line */
        content: "";
        width: 0.5rem;
        height: 0.125rem;
        background-color: var(--headerColor);
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 45%;
        right: 1.3125rem;
        transform: rotate(-45deg);
        /* animate the transform from the right side of the x axis, and the center of the y */
        transform-origin: right center;
        transition: transform 0.5s;
    }
    #contact-1333 .cs-button-text {
        width: 80%;
        display: block;
    }
    #contact-1333 .cs-item-p {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        width: 90%;
        height: 0;
        margin: 0;
        /* 16px - 24px */
        padding: 0 clamp(1rem, 2vw, 1.5rem);
        opacity: 0;
        color: var(--bodyTextColor);
        /* clips the text so it doesn't show up */
        overflow: hidden;
        transition:
            opacity 0.3s,
            padding-bottom 0.3s;
    }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact-1333 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: space-between;
    }
    #contact-1333 .cs-form {
        width: 45vw;
    }
    #contact-1333 .cs-submit {
        width: auto;
    }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode #contact-1333 .cs-title,
    body.dark-mode #contact-1333 .cs-item-p,
    body.dark-mode #contact-1333 .cs-button,
    body.dark-mode #contact-1333 label {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #contact-1333 .cs-button:before,
    body.dark-mode #contact-1333 .cs-button:after {
        background-color: var(--bodyTextColorWhite);
    }
    body.dark-mode #contact-1333 .cs-item-p {
        opacity: 0.8;
    }
    body.dark-mode #contact-1333 .cs-form {
        background-color: var(--medium);
    }
    body.dark-mode #contact-1333 .cs-input {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;
    }
    body.dark-mode #contact-1333 .cs-input::placeholder {
        color: #fff;
        opacity: 0.8;
    }
    body.dark-mode #contact-1333 .cs-graphic {
        opacity: 0.4;
    }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
 
    #reviews-864 {
      /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
      font-family: 'Roboto', 'Arial', sans-serif;
      padding: var(--sectionPadding);
      position: relative;
      z-index: 1;
    }
    #reviews-864:before {
      content: '';
      width: 100%;
      height: 100%;
      background: var(--primary);
      opacity: .03;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: -1;
    }
    #reviews-864 .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #reviews-864 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      max-width: 56.25rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }
    #reviews-864 .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: .1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 0.25rem;
      display: block;
    }
    #reviews-864 .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: inherit;
      max-width: 43.75rem;
      margin: 0 0 1rem 0;
      color: var(--headerColor);
      position: relative;
    }
    #reviews-864 .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      max-width: 40.625rem;
      margin: 0;
      color: var(--bodyTextColor);
    }
    #reviews-864 .cs-title {
      /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
      /* 20 characters including spaces */
      max-width: 20ch;
    }
    #reviews-864 .cs-text {
      /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
      max-width: 100%;
    }
    #reviews-864 .cs-card-group {
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      /* 16px - 20px */
      gap: clamp(1rem, 2.5vw, 1.15rem);
    }
    #reviews-864 .cs-item {
      list-style: none;
      width: 100%;
      /* 20px - 32px */
      padding: clamp(1.25rem, 4vw, 2rem);
      background-color: #fff;
      border-radius: 0 1.5rem 0 1.5rem;
      /* prevents padding from adding to height and width */
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      grid-column: span 12;
      position: relative;
    }
    #reviews-864 .cs-flex-group {
      width: 100%;
      margin: 0 0 1.25rem 0;
      padding-bottom: 1.25rem;
      border-bottom: 1px solid #FBCEBD;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1.25rem;
    }
    #reviews-864 .cs-profile {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      /* clips image corners to make circle */
      overflow: hidden;
      position: relative;
      display: block;
    }
    #reviews-864 .cs-profile img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* makes the image behave like a background image */
      object-fit: cover;
    }
    #reviews-864 .cs-name {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2vw, 1.5625rem);
      line-height: 1.5em;
      font-weight: 700;
      margin: 0 0 0.5rem 0;
      color: var(--headerColor);
      display: block;
    }
    #reviews-864 .cs-job {
      font-size: 0.875rem;
      line-height: 1.2em;
      font-weight: 400;
      margin: 0;
      color: var(--bodyTextColor);
      display: block;
    }
    #reviews-864 .cs-review {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      margin: 0;
      margin-bottom: 1.25rem;
      max-width: 27.75rem;
      color: var(--bodyTextColor);
    }
    #reviews-864 .cs-stars {
      width: 6.75rem;
      height: auto;
      margin: 0 0 0.5rem 0;
      display: block;
    }
    #reviews-864 .cs-desc {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      text-align: inherit;
      margin: 0;
      color: var(--bodyTextColor);
    }
    #reviews-864 .cs-quote1,
    #reviews-864 .cs-quote2 {
      display: none;
      width: 12.125rem;
      height: auto;
      display: block;
      position: absolute;
      z-index: -1;
    }
    #reviews-864 .cs-quote1 {
      top: 0;
      left: 0;
    }
    #reviews-864 .cs-quote2 {
      bottom: 0;
      right: 0;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #reviews-864 .cs-container {
      max-width: 80rem;
    }
    #reviews-864 .cs-item {
      grid-column: span 6;
    }
    #reviews-864 .cs-item:last-of-type {
      grid-column: span 12;
    }
    #reviews-864 .cs-stars {
      margin-top: auto;
    }
    #reviews-864 .cs-quote1,
    #reviews-864 .cs-quote2 {
      display: block;
    }
  }
  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #reviews-864 .cs-item {
      grid-column: span 4;
    }
    #reviews-864 .cs-item:last-of-type {
      grid-column: span 4;
    }
  }
                                

                                
                                

                                